<h3>This is the create posts view.</h3>


{{ $ctrl.message }}
{{ $ctrl.getCurrentUser().name}}
{{ $ctrl.files }}

<div class="container">
  <div class="row">
    <form name="post_form"
    novalidate >
      <fieldset class="form-group">
        <label name="title">Give your post a title!</label><br />
        <input type="text"
               placeholder="Title goes here."
               name="title"
               ng-model='$ctrl.post.title' /><br /><br />
        <label name="introduce">Introduce the doc that you didn't like.</label>
        <textarea type="text"
                  name="synopsis"
                  class="form-control"
                  rows="5"
                  placeholder="A SHORT synopsis. Please."
                  ng-model='$ctrl.post.synopsis'/><br /><br />

        <!-- first img and caption pair -->
        <label name="image">Upload ALL your screenshots!</label><br />

       <!-- filestack  -->
       <div>
          <script type="text/javascript"
                  src="//api.filestackapi.com/filestack.js"></script>
          <input type="filepicker"
                 data-fp-apikey="AjhGHe86aRlGvhu7k6IBjz"
                 onchange="filePicked(event)"
                 data-fp-mimetypes="*/*"
                 data-fp-container="modal"
                 >
       </div><br /><br />

       <div class="row center-block">
         <img class='col-md-8'
              ng-show="$ctrl.imageURL1"
              ng-src="{{ $ctrl.imageURL1 }}"
              alt="preview of uploaded image" />
         <!-- <img class="col-md-8"
              src="http://feelgrafix.com/data/landscape/landscape-1.jpg" /> -->
       </div><br /><br />
      <!-- end of filestack -->

        <label name="caption">Write caption for screenshot/image.</label>
        <textarea type="text"
                  name="caption_1"
                  class="form-control"
                  rows="3"
                  placeholder="A SHORT caption."
                  ng-model='$ctrl.post.caption_1'/><br /><br />

        <!-- end of first img and caption pair -->

        <!-- second img and caption pair -->
        <div ng-hide="$ctrl.hiddenfields">
          <label name="image">Upload your screenshot!</label><br />

         <div>
           <input type="filepicker"
                  data-fp-apikey="AjhGHe86aRlGvhu7k6IBjz" onchange="filePickedAgain(event)"
                  data-fp-mimetypes="*/*"
                  data-fp-container="modal" >
         </div><br /><br />

        <div class="row center-block">
          <img class='col-md-8'
               ng-show="$ctrl.imageURL2"
               ng-src="{{ $ctrl.imageURL2 }}"
               alt="preview of uploaded image" />
        </div><br /><br />

        <label name="caption">Write caption for screenshot/image.</label>
          <textarea type="text"
                    name="caption_2"
                    class="form-control"
                    rows="3"
                    placeholder="A SHORT caption."
                    ng-model='$ctrl.post.caption_2'/><br /><br />
        </div>
        <!-- end of second img and caption pair -->

        <div ng-hide="$ctrl.hiddenfields">
          <label name="image">Upload your screenshot!</label><br />
          <input type="url"
                 placeholder= "Use url for now."
                 name="image_3"
                 ng-model='$ctrl.post.image_3' /><br /><br />
          <label name="caption">Write caption for screenshot/image.</label>
          <textarea type="text"
                    name="caption_3"
                    class="form-control"
                    rows="3"
                    placeholder="A SHORT caption."
                    ng-model='$ctrl.post.caption_3'/><br /><br />
        </div>

        <div ng-hide="$ctrl.hiddenfields">
          <label name="image">Upload your screenshot!</label><br />
          <input type="url"
                 placeholder= "Use url for now."
                 name="image_4"
                 ng-model='$ctrl.post.image_4' /><br /><br />
          <label name="caption">Write caption for screenshot/image.</label>
          <textarea type="text"
                    name="caption_4"
                    class="form-control"
                    rows="3"
                    placeholder="A SHORT caption."
                    ng-model='$ctrl.post.caption_4'/><br /><br />
        </div>

        <div ng-hide="$ctrl.hiddenfields">
          <label name="image">Upload your screenshot!</label><br />
          <input type="url"
                 placeholder= "Use url for now."
                 name="image_5"
                 ng-model='$ctrl.post.image_5' /><br /><br />
          <label name="caption">Write caption for screenshot/image.</label>
          <textarea type="text"
                    name="caption_5"
                    class="form-control"
                    rows="3"
                    placeholder="A SHORT caption."
                    ng-model='$ctrl.post.caption_5'/><br /><br />
        </div>

        <button type="submit"
                class="btn btn-primary adjTopMargin"
                ng-click="$ctrl.reveal()"
                >
                Give Me More Fields
        </button><br /><br />

      </fieldset>
      <button type="submit"
              class="btn btn-success adjTopMargin"
              ng-click="$ctrl.submit()"
              ng-href="/posts">
              Submit
      </button>
    </form>
  </div>
</div>
