<h3>This is the create posts view.</h3>


{{ $ctrl.message }}

<div class="container">
  <div class="row">
    <form name="post_form"
    novalidate >
      <fieldset class="form-group">
        <label name="title">Give your post a title!</label><br />
        <input type="text"
               placeholder="Title goes here."
               name="title"
               ng-model='$ctrl.post.title' /><br /><br />
        <label name="introduce">Introduce the doc that you didn't like.</label>
        <textarea type="text"
                  name="synopsis"
                  class="form-control"
                  rows="5"
                  placeholder="A SHORT synopsis. Please."
                  ng-model='$ctrl.post.synopsis'/><br /><br />
        <label name="image">Screenshot goes here!</label><br />
        <input type="url"
               placeholder= "Use url for now."
               name="image_1"
               ng-model='$ctrl.post.image_1' /><br /><br />
        <label name="caption">Write caption for screenshot/image.</label>
        <textarea type="text"
                  name="caption_1"
                  class="form-control"
                  rows="3"
                  placeholder="A SHORT caption."
                  ng-model='$ctrl.post.caption_1'/><br /><br />


        <div ng-hide="$ctrl.hiddenfields">
          <label name="image">Screenshot goes here!</label><br />
          <input type="url"
                 placeholder= "Use url for now."
                 name="image_2"
                 ng-model='$ctrl.post.image_2' /><br /><br />
          <label name="caption">Write caption for screenshot/image.</label>
          <textarea type="text"
                    name="caption_2"
                    class="form-control"
                    rows="3"
                    placeholder="A SHORT caption."
                    ng-model='$ctrl.post.caption_2'/><br /><br />
        </div>

        <div ng-hide="$ctrl.hiddenfields">
          <label name="image">Screenshot goes here!</label><br />
          <input type="url"
                 placeholder= "Use url for now."
                 name="image_3"
                 ng-model='$ctrl.post.image_3' /><br /><br />
          <label name="caption">Write caption for screenshot/image.</label>
          <textarea type="text"
                    name="caption_3"
                    class="form-control"
                    rows="3"
                    placeholder="A SHORT caption."
                    ng-model='$ctrl.post.caption_3'/><br /><br />
        </div>

        <div ng-hide="$ctrl.hiddenfields">
          <label name="image">Screenshot goes here!</label><br />
          <input type="url"
                 placeholder= "Use url for now."
                 name="image_4"
                 ng-model='$ctrl.post.image_4' /><br /><br />
          <label name="caption">Write caption for screenshot/image.</label>
          <textarea type="text"
                    name="caption_4"
                    class="form-control"
                    rows="3"
                    placeholder="A SHORT caption."
                    ng-model='$ctrl.post.caption_4'/><br /><br />
        </div>

        <div ng-hide="$ctrl.hiddenfields">
          <label name="image">Screenshot goes here!</label><br />
          <input type="url"
                 placeholder= "Use url for now."
                 name="image_5"
                 ng-model='$ctrl.post.image_5' /><br /><br />
          <label name="caption">Write caption for screenshot/image.</label>
          <textarea type="text"
                    name="caption_5"
                    class="form-control"
                    rows="3"
                    placeholder="A SHORT caption."
                    ng-model='$ctrl.post.caption_5'/><br /><br />
        </div>

        <button type="submit"
                class="btn btn-primary adjTopMargin"
                ng-click="$ctrl.reveal()"
                >
                Give Me More Fields
        </button><br /><br />

      </fieldset>
      <button type="submit"
              class="btn btn-success adjTopMargin"
              ng-click="$ctrl.submit()"
              ng-href="/posts">
              Submit
      </button>
    </form>
  </div>
</div>
