<div class='container'>
  <div class='row'>
    <section class='col-md-10 col-md-offset-1 adjContent'>
      <div class='col-xs-3'>
        <label>Sort by...</label>
        <select class='form-control'
                ng-model='$ctrl.sortBy'>
        <option value=''
                selected disabled>
                Please select an option</option>
        <option value='title'>Title</option>
        <option value='created_at'>
                Date Published - Earliest</option>
        <option value='-created_at'>
                Date Published - Latest</option>
      </select>
      </div>
      <div class="form-group col-xs-2 col-md-2">
        <label class='control-label'>Search Box!</label>
        <input type='text'
               ng-model='searchBox'
               class='form-control'/>
      </div>
    </section>
  </div>
</div>

<div class='container'>
  <div class='row'>
    <section ng-repeat="post in $ctrl.authorPosts | orderBy: $ctrl.sortBy | filter: searchBox"
             class='col-md-10 col-md-offset-1 well adjContent'>
      <img class='col-md-3 resize'
           ng-src='{{ post.image_1 }}'/>

      <div class='col-md-4 adjContent'>
        <h4>
          <a href='/posts/{{ post._id }}'>
            {{ post.title }}
          </a>
        </h4>
        <p>
          Created By: {{ post.author }}
        </p>
        <p>
          Created On: {{ post.created_at | date:'short' }}
        </p>
      </div>

      <p class='col-md-4 adjContent'>
         <u>Intro</u>
      </p>
      <p class='col-md-4'>
         {{ post.synopsis }}
      </p>


      <a type="button"
         class="btn btn-warning adjContent"
         href="/posts/{{ post._id }}/edit">
         Edit
      </a>
    </div>
</div>
