<h2>This is the Edit Post page!</h2>

{{ $ctrl.message }}

<div class="container">
  <div class="row">
    <form name="post_form"
    novalidate >
      <fieldset class="form-group">
        <label name="title">Give your post a title!</label><br />
        <input type="text"
               placeholder="Title goes here."
               name="title"
               ng-model='$ctrl.singlePost.title' /><br /><br />
        <label name="introduce">Introduce the doc that you didn't like.</label>
        <textarea type="text"
                  name="synopsis"
                  class="form-control"
                  rows="5"
                  placeholder="A SHORT synopsis. Please."
                  ng-model='$ctrl.singlePost.synopsis'/><br /><br />
        <label name="image">URL of current screenshot! Clear if you want to delete it.</label><br />
        <input type="url"
               placeholder= "Use url for now."
               name="image_1"
               ng-model='$ctrl.singlePost.image_1' /><br /><br />

        <!-- filestack  -->
        <div>
          <script type="text/javascript"
                  src="//api.filestackapi.com/filestack.js"></script>
          <label name="image">Click this to choose a new image.</label><br />
          <input type="filepicker"
                 data-fp-apikey="AjhGHe86aRlGvhu7k6IBjz"
                 onchange="filePicked(event)"
                 data-fp-mimetypes="*/*"
                 data-fp-container="modal"
                 >
        </div><br /><br />

        <div class="row center-block">
          <img class='col-md-8'
               ng-show="$ctrl.imageURL1"
               ng-src="{{ $ctrl.imageURL1 }}"
               alt="preview of uploaded image" />
        </div><br /><br />

        <label name="caption">Write caption for screenshot/image.</label>
        <textarea type="text"
                  name="caption_1"
                  class="form-control"
                  rows="3"
                  placeholder="A SHORT caption."
                  ng-model='$ctrl.singlePost.caption_1'/><br /><br />

        <div>
          <label name="image">URL of current screenshot! Clear if you want to delete it.</label><br />
          <input type="url"
                 placeholder= "Use url for now."
                 name="image_2"
                 ng-model='$ctrl.singlePost.image_2' /><br /><br />

          <div>
            <label name="image">Click this to choose a new image.</label><br />
            <input type="filepicker"
                   data-fp-apikey="AjhGHe86aRlGvhu7k6IBjz"
                   onchange="filePickedTwo(event)"
                   data-fp-mimetypes="*/*"
                   data-fp-container="modal"
                  >
          </div><br /><br />

           <div class="row center-block">
             <img class='col-md-8'
                  ng-show="$ctrl.imageURL2"
                  ng-src="{{ $ctrl.imageURL2 }}"
                  alt="preview of uploaded image" />
           </div><br /><br />


          <label name="caption">Write caption for screenshot/image.</label>
          <textarea type="text"
                    name="caption_2"
                    class="form-control"
                    rows="3"
                    placeholder="A SHORT caption."
                    ng-model='$ctrl.singlePost.caption_2'/><br /><br />
        </div>

        <!-- might have to remove the ng-hide. Makes entire field go away during editing process! -->
        <div ng-hide="$ctrl.hiddenfields">
          <label name="image">URL of current screenshot! Clear if you want to delete it.</label><br />
          <input type="url"
                 placeholder= "Use url for now."
                 name="image_3"
                 ng-model='$ctrl.post.image_3' /><br /><br />

          <div>
            <label name="image">Click this to choose a new image.</label><br />
            <input type="filepicker"
                  data-fp-apikey="AjhGHe86aRlGvhu7k6IBjz"
                  onchange="filePickedThree(event)"
                  data-fp-mimetypes="*/*"
                  data-fp-container="modal"
                 >
          </div><br /><br />

          <div class="row center-block">
            <img class='col-md-8'
                 ng-show="$ctrl.imageURL3"
                 ng-src="{{ $ctrl.imageURL3 }}"
                 alt="preview of uploaded image" />
          </div><br /><br />

          <label name="caption">Write caption for screenshot/image.</label>
          <textarea type="text"
                    name="caption_3"
                    class="form-control"
                    rows="3"
                    placeholder="A SHORT caption."
                    ng-model='$ctrl.post.caption_3'/><br /><br />
        </div>

      </fieldset>
      <button type="submit"
              class="btn btn-primary adjTopMargin"
              ng-click="$ctrl.reveal()"
              >
              Give Me More Fields
      </button>
      <a type="button"
         class="btn btn-success adjTopMargin"
         ng-click="$ctrl.update()"
         ng-href="/posts">
         Submit
      </a>
      <a type="button"
         class="btn btn-danger adjTopMargin"
         ng-click="$ctrl.delete()"
         href="/posts/">
         Delete
      </a>
    </form>
  </div>
</div>
