<div class="container">
  <div class="row">
    <h2>This is the Edit Page!</h2>
  </div>
</div><br /><br />


<div class="container">
  <div class="row">
    <form name="post_form"
    novalidate >
      <fieldset class="form-group">
        <label name="title">Give your post a title!</label><br />
        <input type="text"
               placeholder="Title goes here."
               name="title"
               ng-model='$ctrl.singlePost.title' /><br /><br />
        <label name="introduce">Introduce the doc that you didn't like.</label>
        <textarea type="text"
                  name="synopsis"
                  class="form-control"
                  rows="5"
                  placeholder="A SHORT synopsis. Please."
                  ng-model='$ctrl.singlePost.synopsis'/><br /><br />

        <!-- first img and caption pair -->
        <label name="image">URL of current screenshot! Clear if you want to delete it.</label><br />
        <input type="url"
               placeholder= "Use url for now."
               name="image_1"
               ng-model='$ctrl.singlePost.image_1' /><br /><br />
        <div>
          <script type="text/javascript"
                  src="//api.filestackapi.com/filestack.js"></script>
          <label name="image">Click this to choose a new image.</label><br />
          <input type="filepicker"
                 data-fp-apikey="Ag1dCd9vNR966DYsKdIdAz"
                 onchange="filePicked(event)"
                 data-fp-mimetypes="*/*"
                 data-fp-container="modal" />
        </div><br /><br />
        <div class="row center-block">
          <img class='col-md-8'
               ng-show="$ctrl.imageURL1"
               ng-src="{{ $ctrl.imageURL1 }}"
               alt="preview of uploaded image" />
        </div><br /><br />
        <label name="caption">Write caption for screenshot/image.</label>
        <textarea type="text"
                  name="caption_1"
                  class="form-control"
                  rows="3"
                  placeholder="A SHORT caption."
                  ng-model='$ctrl.singlePost.caption_1'/><br /><br />
        <!-- end of first img and caption pair -->

        <!-- second img and caption pair -->
        <div>
          <label name="image">URL of current screenshot! Clear if you want to delete it.</label><br />
          <input type="url"
                 placeholder= "Use url for now."
                 name="image_2"
                 ng-model='$ctrl.singlePost.image_2' /><br /><br />
          <div>
            <label name="image">Click this to choose a new image.</label><br />
            <input type="filepicker"
                   data-fp-apikey="Ag1dCd9vNR966DYsKdIdAz"
                   onchange="filePickedTwo(event)"
                   data-fp-mimetypes="*/*"
                   data-fp-container="modal" />
          </div><br /><br />
           <div class="row center-block">
             <img class='col-md-8'
                  ng-show="$ctrl.imageURL2"
                  ng-src="{{ $ctrl.imageURL2 }}"
                  alt="preview of uploaded image" />
           </div><br /><br />
          <label name="caption">Write caption for screenshot/image.</label>
          <textarea type="text"
                    name="caption_2"
                    class="form-control"
                    rows="3"
                    placeholder="A SHORT caption."
                    ng-model='$ctrl.singlePost.caption_2'/><br /><br />
        </div>
        <!-- end of second img and caption pair -->

        <!-- removed ng-hide, for now. Makes entire field go away during editing process! -->
        <!-- third img and caption pair -->
        <div>
          <label name="image">URL of current screenshot! Clear if you want to delete it.</label><br />
          <input type="url"
                 placeholder= "Use url for now."
                 name="image_3"
                 ng-model='$ctrl.singlePost.image_3' /><br /><br />
          <div>
            <label name="image">Click this to choose a new image.</label><br />
            <input type="filepicker"
                  data-fp-apikey="Ag1dCd9vNR966DYsKdIdAz"
                  onchange="filePickedThree(event)"
                  data-fp-mimetypes="*/*"
                  data-fp-container="modal" />
          </div><br /><br />
          <div class="row center-block">
            <img class='col-md-8'
                 ng-show="$ctrl.imageURL3"
                 ng-src="{{ $ctrl.imageURL3 }}"
                 alt="preview of uploaded image" />
          </div><br /><br />
          <label name="caption">Write caption for screenshot/image.</label>
          <textarea type="text"
                    name="caption_3"
                    class="form-control"
                    rows="3"
                    placeholder="A SHORT caption."
                    ng-model='$ctrl.singlePost.caption_3'/><br /><br />
        </div>
        <!-- end of third img and caption pair -->

        <!-- fourth img and caption pair -->
        <div>
          <label name="image">URL of current screenshot! Clear if you want to delete it.</label><br />
          <input type="url"
                 placeholder= "Use url for now."
                 name="image_4"
                 ng-model='$ctrl.singlePost.image_4' /><br /><br />
          <div>
            <label name="image">Click this to choose a new image.</label><br />
            <input type="filepicker"
                  data-fp-apikey="Ag1dCd9vNR966DYsKdIdAz"
                  onchange="filePickedFour(event)"
                  data-fp-mimetypes="*/*"
                  data-fp-container="modal" />
          </div><br /><br />
          <div class="row center-block">
            <img class='col-md-8'
                 ng-show="$ctrl.imageURL4"
                 ng-src="{{ $ctrl.imageURL4 }}"
                 alt="preview of uploaded image" />
          </div><br /><br />
          <label name="caption">Write caption for screenshot/image.</label>
          <textarea type="text"
                    name="caption_4"
                    class="form-control"
                    rows="3"
                    placeholder="A SHORT caption."
                    ng-model='$ctrl.singlePost.caption_4'/><br /><br />
        </div>
        <!-- end of fourth img and caption pair -->

        <!-- fifth img and caption pair -->
        <div>
          <label name="image">URL of current screenshot! Clear if you want to delete it.</label><br />
          <input type="url"
                 placeholder= "Use url for now."
                 name="image_5"
                 ng-model='$ctrl.singlePost.image_5' /><br /><br />
          <div>
            <label name="image">Click this to choose a new image.</label><br />
            <input type="filepicker"
                  data-fp-apikey="Ag1dCd9vNR966DYsKdIdAz"
                  onchange="filePickedFive(event)"
                  data-fp-mimetypes="*/*"
                  data-fp-container="modal" />
          </div><br /><br />
          <div class="row center-block">
            <img class='col-md-8'
                 ng-show="$ctrl.imageURL5"
                 ng-src="{{ $ctrl.imageURL5 }}"
                 alt="preview of uploaded image" />
          </div><br /><br />
          <label name="caption">Write caption for screenshot/image.</label>
          <textarea type="text"
                    name="caption_5"
                    class="form-control"
                    rows="3"
                    placeholder="A SHORT caption."
                    ng-model='$ctrl.singlePost.caption_5'/><br /><br />
        </div>
        <!-- end of fifth img and caption pair -->
      </fieldset>
      <!-- <button type="submit"
              class="btn btn-primary adjTopMargin"
              ng-click="$ctrl.reveal()"
              >
              Give Me More Fields
      </button> -->
      <a type="button"
         class="btn btn-success adjTopMargin"
         ng-click="$ctrl.update()"
         ng-href="/posts">
         Update
      </a>
      <a type="button"
         class="btn btn-danger adjTopMargin"
         ng-click="$ctrl.delete()"
         href="/posts/author/{{ $ctrl.getCurrentUser().name}}">
         Delete
      </a>
    </form>
  </div>
</div>
