<div>This is the posts view, preview of all PUBLISHED posts. Eventually.</div>
<div>For now, this will show any posts that are submitted.</div>

<div class='container'>
  <div class='row'>
    <div class='col-xs-3'>
      <label>Sort by...</label>
      <select class='form-control'
              ng-model='$ctrl.sortBy'>
        <option value='' selected disabled>Please select an option</option>
        <option value='title'>Title</option>
        <option value='author'>Author</option>
        <option value='created_at'>Date Published - Earliest</option>
        <option value='-created_at'>Date Published - Latest</option>
      </select>
    </div>
    <div class="form-group col-xs-2 col-md-2">
      <label class='control-label'>Search by Name</label>
        <input type='text'
             ng-model='searchBox'
             class='form-control'/>
    </div>
  </div>
</div>


<div class='container'>
  <div class='row'>
    <section ng-repeat="post in $ctrl.allPosts | orderBy: $ctrl.sortBy | filter: searchBox"
             class='col-md-10 col-md-offset-1 well adjContent'>

      <img class='col-md-3 resize'
           ng-src='{{ post.image_1 }}'
           />
        <h4 class='col-md-4 adjContent'>
          <a href='/posts/{{ post._id }}'>
             {{ post.title }}
          </a>
        </h4>
        <p class='col-md-4 adjContent'>
           Created By: {{ post.author }}
        </p>
        <p class='col-md-4 adjContent'>
           {{ post.synopsis }}
        </p>
        <p class='col-md-4 adjContent'>
           Created On: {{ post.created_at | date:'short' }}
        </p>
        <p class='col-md-4 adjContent'>
           Updated: {{ post.updated_at | date:'medium' }}
        </p>
</div>
