<div class="container">
  <div class="row">
    <form name="post_form"
    novalidate >
      <fieldset class="form-group">
        <label name="title">Give your post a title!</label><br />
        <input type="text"
               placeholder="Title goes here."
               name="title"
               ng-model='$ctrl.post.title' /><br /><br />
        <label name="introduce">Introduce the doc that you didn't like.</label>
        <textarea type="text"
                  name="synopsis"
                  class="form-control"
                  rows="5"
                  placeholder="A SHORT synopsis. Please."
                  ng-model='$ctrl.post.synopsis'/><br /><br />

        <!-- first img and caption pair -->
        <label name="image">Upload ALL your screenshots!</label><br />

       <!-- filestack  -->
       <div>
          <script type="text/javascript"
                  src="//api.filestackapi.com/filestack.js"></script>
          <input type="filepicker"
                 data-fp-apikey="process.env.API_KEY"
                 onchange="filePicked(event)"
                 data-fp-mimetypes="*/*"
                 data-fp-container="modal"
                 >
       </div><br /><br />

       <div class="row center-block">
         <img class='col-md-8'
              ng-show="$ctrl.imageURL1"
              ng-src="{{ $ctrl.imageURL1 }}"
              alt="preview of uploaded image" />
       </div><br /><br />
      <!-- end of filestack -->

        <label name="caption">Write caption for screenshot/image.</label>
        <textarea type="text"
                  name="caption_1"
                  class="form-control"
                  rows="3"
                  placeholder="A SHORT caption."
                  ng-model='$ctrl.post.caption_1'/><br /><br />

        <!-- end of first img and caption pair -->

        <!-- second img and caption pair -->
        <div ng-hide="$ctrl.hiddenfields">
          <label name="image">Upload your screenshot!</label><br />

          <div>
             <input type="filepicker"
                    data-fp-apikey="AjhGHe86aRlGvhu7k6IBjz" onchange="filePickedTwo(event)"
                    data-fp-mimetypes="*/*"
                    data-fp-container="modal" >
          </div><br /><br />

          <div class="row center-block">
            <img class='col-md-8'
                 ng-show="$ctrl.imageURL2"
                 ng-src="{{ $ctrl.imageURL2 }}"
                 alt="preview of uploaded image" />
          </div><br /><br />

        <label name="caption">Write caption for screenshot/image.</label>
          <textarea type="text"
                    name="caption_2"
                    class="form-control"
                    rows="3"
                    placeholder="A SHORT caption."
                    ng-model='$ctrl.post.caption_2'/><br /><br />
        </div>
        <!-- end of second img and caption pair -->

        <!-- third img and caption pair -->
        <div ng-hide="$ctrl.hiddenfields">
          <label name="image">Upload your screenshot!</label><br />

          <div>
            <input type="filepicker"
                   data-fp-apikey="AjhGHe86aRlGvhu7k6IBjz" onchange="filePickedThree(event)"
                   data-fp-mimetypes="*/*"
                   data-fp-container="modal" >
          </div><br /><br />
           <div class="row center-block">
             <img class='col-md-8'
                  ng-show="$ctrl.imageURL3"
                  ng-src="{{ $ctrl.imageURL3 }}"
                  alt="preview of uploaded image" />
           </div><br /><br />

          <label name="caption">Write caption for screenshot/image.</label>
          <textarea type="text"
                    name="caption_3"
                    class="form-control"
                    rows="3"
                    placeholder="A SHORT caption."
                    ng-model='$ctrl.post.caption_3'/><br /><br />
        </div>
        <!-- end of third img and caption pair -->

        <!-- fourth img and caption pair -->
        <div ng-hide="$ctrl.hiddenfields">
          <label name="image">Upload your screenshot!</label><br />

          <div>
            <input type="filepicker"
                   data-fp-apikey="AjhGHe86aRlGvhu7k6IBjz" onchange="filePickedFour(event)"
                   data-fp-mimetypes="*/*"
                   data-fp-container="modal" >
          </div><br /><br />
           <div class="row center-block">
             <img class='col-md-8'
                  ng-show="$ctrl.imageURL4"
                  ng-src="{{ $ctrl.imageURL4 }}"
                  alt="preview of uploaded image" />
           </div><br /><br />

          <label name="caption">Write caption for screenshot/image.</label>
          <textarea type="text"
                    name="caption_4"
                    class="form-control"
                    rows="3"
                    placeholder="A SHORT caption."
                    ng-model='$ctrl.post.caption_4'/><br /><br />
        </div>
        <!-- end of fourth img and caption pair -->

        <!-- fifth img and caption pair -->
        <div ng-hide="$ctrl.hiddenfields">
          <label name="image">Upload your screenshot!</label><br />

          <div>
            <input type="filepicker"
                   data-fp-apikey="AjhGHe86aRlGvhu7k6IBjz" onchange="filePickedFive(event)"
                   data-fp-mimetypes="*/*"
                   data-fp-container="modal" >
          </div><br /><br />
           <div class="row center-block">
             <img class='col-md-8'
                  ng-show="$ctrl.imageURL5"
                  ng-src="{{ $ctrl.imageURL5 }}"
                  alt="preview of uploaded image" />
           </div><br /><br />

          <label name="caption">Write caption for screenshot/image.</label>
          <textarea type="text"
                    name="caption_5"
                    class="form-control"
                    rows="3"
                    placeholder="A SHORT caption."
                    ng-model='$ctrl.post.caption_5'/><br /><br />
        </div>
        <!-- end of fifth img and caption pair -->

        <button type="submit"
                class="btn btn-primary adjTopMargin"
                ng-click="$ctrl.reveal()"
                >
                Give Me More Fields
        </button><br /><br />

      </fieldset>
      <button type="submit"
              class="btn btn-success adjTopMargin"
              ng-click="$ctrl.submit()"
              ng-href="/posts">
              Submit
      </button>
    </form>
  </div>
</div>
